{% extends 'base.html' %}
{% load static %}

{% block page_title %}Add Payroll{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
    <li class="breadcrumb-item active">Add Payroll</li>
{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Add Payroll</h2>
    <h5><form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form></h5>
</div>
{% endblock %}
